.example-card {
    max-width: 300px;
  }
  
  .example-header-image {
    background-image: url('https://m.media-amazon.com/images/M/MV5BN2EyZjM3NzUtNWUzMi00MTgxLWI0NTctMzY4M2VlOTdjZWRiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_.jpg');
    background-size: cover;
  }

  .searchbar{
      margin-left: 20px;
  }